@import "fonts.css";
@import "spinner.css";

:root {
	--light-pink: #e94d7b;
	--pink: #e00043;
	--dark-pink: #d80034;

	--light-yellow: #ffee80;
	--yellow: #ffdd00;
	--dark-yellow: #ffc700;

	--light-red: #e44754;
	--red: #f91a2d;
	--dark-red: #c10313;

	--light-blue: #80b4f4;
	--blue: #2680ec;
	--dark-blue: #004cdf;
}

body {
	font-family: 'Barlow', -apple-system, "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	background: #fafafa;
	margin: 2rem;
	text-align: center;
}

h1 {
	font-family: "Varela Round", -apple-system, "IBM Plex Sans", BlinkMacSystemFont, sans-serif;
	font-weight: 500;
	mix-blend-mode: overlay;
	font-size: 36px;
}

main {
	background: linear-gradient(225deg, var(--dark-pink) 0%, var(--dark-yellow) 100%);
	box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
	border-radius: 8px;
	padding: 1rem;
	margin: 0 auto;
	display: inline-block;
}

img.o-neko-logo {
	max-width: 220px;
	display: block;
	margin: 4em auto 2em;
	transition: all ease 0.8s;
	filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, .36));
}

p {
	margin: 2rem 2rem;
}

.small-text {
	font-size: 1rem;
}

pre, .project-name {
	display: inline-block;
	color: black;
	background: rgba(255, 255, 255, 0.8);
	mix-blend-mode: color-dodge;
	border-radius: 2px;
	padding: 2px 4px;
	margin: 0;
	word-break: break-word;
	white-space: break-spaces;
}

.external-link {
	border-radius: 3px;
	border: 2px solid rgba(255, 255, 255, 0.9);
	color: white;
	font-size: 1rem;
	padding: 6px 16px;
	text-decoration: none;
	user-select: none;
	transition: background-color 0.1s ease, border 0.1s ease;
	display: inline-block;
	margin: 8px 0;
}

.external-link:hover {
	border: 2px solid rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
}

.external-link span {
	display: flex;
	align-items: center;
}

.external-link span svg:first-child {
	margin-right: 6px;
}
