<!doctype html>
<html lang="en">
<head>
	<title>Starting {{ .Project.Name }} {{ .Version.Name }}...</title>
	<link rel="stylesheet" href="./static/style.css">
</head>
<body>
	<h1>Deploying {{ .Project.Name }} {{ .Version.Name }}</h1>

	<script src="./static/script.js"></script>
</body>
</html>
