<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Starting {{ .Project.Name }} {{ .Version.Name }}...</title>
	<link rel="stylesheet" href="./static/style.css">
</head>
<body>
	<img class="o-neko-logo" src="./static/oneko.svg"/>
	<main>
		<h1>O-NEKO</h1>
		<div class="loading-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

		<p>
			<div>Starting version <pre>{{ .Version.Name }}</pre> of project <span class="project-name">{{ .Project.Name }}</span>.</div>
			<span class="small-text">This version was last updated on <strong>{{ .Version.ImageUpdatedDate | formatAsDate }}</strong>.</span>
		</p>

		<p class="small-text">Please wait. You will be redirected automatically once the deployment is ready.</p>

		<p>
			<a class="external-link"
			   href="{{ .BaseUrl }}"
			   rel="nofollow noreferrer" target="_blank">
			<span>
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
					<path fill="currentColor"
						  d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/>
				</svg>
				<span>Open O-Neko</span>
			</span>
			</a>
		</p>
	</main>

	<script src="./static/script.js"></script>
</body>
</html>
